._page_container {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  user-select: none;
  transition: all .2s ease;
}

._page_container input[type=number] {
  -moz-appearance: textfield;
}

._page_container input[type=number]::-webkit-inner-spin-button,
._page_container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

._page_container ._pages {
  display: inline-block;
  margin: 30px auto 16px;
}

._page_container ._pages li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  color: #303133;
  min-width: 30px;
  text-align: center;
  margin: 0 3px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .2s ease;
}

._page_container ._pages li:hover {
  color: #409eff;
}

._page_container ._pages li:first-child, ._page_container ._pages li:last-child {
  font-size: 16px;
}

._page_container ._pages ._prev, ._page_container ._pages ._next, ._page_container ._pages ._home, ._page_container ._pages ._last {
  font-family: "Font Awesome 5 Pro";
  font-size: 16px;
  line-height: 30px;
}

._page_container ._jumper {
  display: block;
  color: #606266;
  margin-left: 10px;
}

._page_container ._jumper ._count {
  margin-right: 10px;
}

._page_container ._jumper ._jumper_input {
  display: inline-block;
  font-size: 16px;
  color: #606266;
  width: 50px;
  height: 26px;
  text-align: center;
  margin: 0 5px;
  padding: 3px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background: #fafafa;
  outline: none;
  box-sizing: border-box;
  transition: all .2s ease;
}

._page_container ._jumper ._jumper_input:focus {
  border-color: #409eff;
}

._pages_1 li {
  background-color: #fafafa;
}

._active_1 {
  color: #fafafa !important;
  background-color: #409eff !important;
}

._active_2 {
  color: #409eff !important;
}

._disabled {
  cursor: not-allowed !important;
}

._disabled_c {
  color: #c0c4cc !important;
  background-color: #F5F7FA !important;
}

@media(prefers-color-scheme:dark) {
  html:not(.light) ._page_container ._pages li{color:#cfcecc}
  html:not(.light) ._page_container ._pages li:hover{color:#409eff}
  html:not(.light) ._page_container ._jumper{color:#9f9d90}
  html:not(.light) ._page_container ._jumper ._jumper_input{color:#9f9d90;background:#242424;border-color:#404040}
  html:not(.light) ._pages_1 li{background-color:#242424}
  html:not(.light) ._disabled_c{color:#aaa!important;background-color:#666!important}
}

html.dark:not(.light) ._page_container ._pages li{color:#cfcecc}
html.dark:not(.light) ._page_container ._pages li:hover{color:#409eff}
html.dark:not(.light) ._page_container ._jumper{color:#9f9d90}
html.dark:not(.light) ._page_container ._jumper ._jumper_input{color:#9f9d90;background:#242424;border-color:#404040}
html.dark:not(.light) ._pages_1 li{background-color:#242424}
html.dark:not(.light) ._disabled_c{color:#aaa!important;background-color:#666!important}