<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>试剑亭·代码分析平台</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="description" />
    <meta name="keywords" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=no" />
    <link href="/lib/site.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/index.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/asking.css" rel="stylesheet" type="text/css" />
    <script src="/lib/api_url.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.14.1/index.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.14.1/theme-chalk/index.css">

    <link media="all" rel="stylesheet" type="text/css" href="/utils/simditor/assets/styles/app.css" />
    <link media="all" rel="stylesheet" type="text/css" href="/utils/simditor/assets/styles/simditor.css" />
    <link media="all" rel="stylesheet" type="text/css"
        href="/utils/simditor/assets/extensions/checklist/styles/simditor-checklist.css" />
    <link media="all" rel="stylesheet" type="text/css"
        href="/utils/simditor/assets/extensions/emoji/styles/simditor-emoji.css" />
    <link media="all" rel="stylesheet" type="text/css"
        href="/utils/simditor/assets/extensions/fullscreen/styles/simditor-fullscreen.css" />
    <link media="all" rel="stylesheet" type="text/css"
        href="/utils/simditor/assets/extensions/html/styles/simditor-html.css" />
    <link rel="stylesheet" type="text/css" href="/utils/highlight.js-10.1.2/highlight-simditor.css">
</head>

<body>
    <script src="/lib/darkmode.js"></script>
    <script src="/lib/navigation.js"></script>
    <script>const nav_id = 3;</script>

    
    <div id="warning-tip">
      <template>
        <el-alert :title="tip_value" :type="tip_type" center show-icon @close="closeTip">
        </el-alert>
      </template>
    </div>
    <div class="bb" style="margin-top: 106px;">
      <div class="sub_nav">
        <a href="/answering">讨论区</a> &nbsp;&gt;&nbsp; <a href="/asking">提问</a>
      </div>
      <div id="Qinfo">
        <template>
          <div id="vm">
            <el-form :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm" style="margin:16px;width:calc(100% - 65px)">
              <!-- 问题简述 -->
              <el-form-item label="问题描述" prop="question">
                <el-input v-model="ruleForm.question" placeholder="说说你遇到的问题" minlength="3" maxlength="40"
                  show-word-limit />
              </el-form-item>

              <!-- 问题分类，必填 -->
              <el-form-item label="问题分类" prop="classify">
                <el-select v-model="ruleForm.classify" clearable filterable default-first-option
                  placeholder="在什么方面遇到了问题？" style="width:100%">
                  <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
              </el-form-item>

              <el-form-item label="详细信息" prop="detail">
                <el-input type="textarea" v-model="ruleForm.detail" style="display: none">
                </el-input>
              </el-form-item>

            </el-form>
          </div>
        </template>
      </div>

      <section id="simditor-richtext">
        <textarea id="txt-content" style="display:none" data-autosave="editor-content" required></textarea>
      </section>
      <div id="submit"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>
    <script>
        (window.jQuery || document.write("<script src='https:\/\/cdn.jsdelivr.net\/npm\/jquery@3.4.0\/dist\/jquery.min.js'><\/script>"));
    </script>
    <script src="/jquery/jquery.cookie.min.js"></script>
    <script>
        (window.jQuery && window.jQuery.fn && window.jQuery.fn.cookie || document.write(
            "\u003Cscript src=\u0022/jquery/jquery.cookie.min.js\u0022\u003E\u003C\/script\u003E"));
    </script>
    <script src="/jquery/jquery.lazyload.min.js"></script>
    <script>
        (window.jQuery && window.jQuery.fn && window.jQuery.fn.lazyload || document.write(
            "\u003Cscript src=\u0022/jquery/jquery.lazyload.min.js\u0022\u003E\u003C\/script\u003E"
        ));
    </script>
    <script src="/lib/askingAuth.js"></script>
    <script src="/lib/popwin.js"></script>
    <script src="/lib/site.js"></script>
    <script src="/lib/feedback.js"></script>

    <script type="text/javascript" src="/utils/simditor/assets/scripts/module.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/scripts/simditor.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/autosave/lib/simditor-autosave.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/checklist/lib/simditor-checklist.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/dropzone/lib/simditor-dropzone.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/emoji/lib/simditor-emoji.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/fullscreen/lib/simditor-fullscreen.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/html/lib/beautify-html.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/html/lib/simditor-html.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/mark/lib/simditor-mark.js"></script>
    <script type="text/javascript" src="/utils/simditor/assets/extensions/simditor-undo.js"></script>
    <script type="text/javascript" src="/utils/highlight.js-10.1.2/highlight.pack.js"></script>

    <script type="text/javascript" src="/lib/asking.js"></script>

    <script type="text/javascript" src="/lib/simditor_loading.js"></script>
    <script src="/lib/footer.js"></script>
</body>

</html>