.simditor .simditor-body .simditor-checklist {
  margin: 15px 0;
  padding: 0 0 0 40px;
  line-height: 1.6;
  list-style-type: none;
}

.simditor .simditor-body .simditor-checklist > li {
  margin: 0;
  pointer-events: none;
}
.simditor .simditor-body .simditor-checklist > li::before {
  content: '';
  pointer-events: all;
  display: inline-block;
  margin: 0 5px 0 -25px;
  width: 20px;
  height: 20px;
  cursor: default;
  vertical-align: middle;
  background-image: url("/img/icon/check_box_outline_blank.svg");
  background-size: 100% 100%;
}
.simditor .simditor-body .simditor-checklist > li[checked]::before {
  background-image: url("/img/icon/check_box.svg");
}
