.el-message--success,.el-message--info,.el-message--warning,.el-message--error,.el-message__content,.el-notification{transition:all .2s ease !important}
body.night .el-message--success{background-color:#67c23a !important;border-color:#67c23a !important;}
body.night .el-message--info{background-color:#909399 !important;border-color:#909399 !important;}
body.night .el-message--warning{background-color:#e6a23c !important;border-color:#e6a23c !important;}
body.night .el-message--error{background-color:#f56c6c !important;border-color:#f56c6c !important;}
body.night .el-message__icon.el-icon-success,body.night .el-message__icon.el-icon-info,body.night .el-message__icon.el-icon-warning,body.night .el-message__icon.el-icon-error,body.night .el-message__content{color:#fff !important}

body.night .el-notification{
  background: #303030 !important;
  border-color: #404040 !important;
}

body.night .el-notification__title{
  color: #cfcecc;
}

body.night .el-notification__content{
  color: #9f9d99;
}

body.night .el-notification__closeBtn:hover{
  color: #9f9d99;
}

@media(prefers-color-scheme:dark) {
  .el-message--success,.el-message--info,.el-message--warning,.el-message--error,.el-message__content,.el-notification{transition:all .2s ease !important}
  html:not(.light) .el-message--success{background-color:#67c23a !important;border-color:#67c23a !important;}
  html:not(.light) .el-message--info{background-color:#909399 !important;border-color:#909399 !important;}
  html:not(.light) .el-message--warning{background-color:#e6a23c !important;border-color:#e6a23c !important;}
  html:not(.light) .el-message--error{background-color:#f56c6c !important;border-color:#f56c6c !important;}
  html:not(.light) .el-message__icon.el-icon-success,html:not(.light) .el-message__icon.el-icon-info,html:not(.light) .el-message__icon.el-icon-warning,html:not(.light) .el-message__icon.el-icon-error,html:not(.light) .el-message__content{color:#fff !important}

  html:not(.light) .el-notification{
    background: #303030 !important;
    border-color: #404040 !important;
  }

  html:not(.light) .el-notification__title{
    color: #cfcecc;
  }

  html:not(.light) .el-notification__content{
    color: #9f9d99;
  }

  html:not(.light) .el-notification__closeBtn:hover{
    color: #9f9d99;
  }

}

.el-message--success,.el-message--info,.el-message--warning,.el-message--error,.el-message__content,.el-notification{transition:all .2s ease !important}
html.dark:not(.light) .el-message--success{background-color:#67c23a !important;border-color:#67c23a !important;}
html.dark:not(.light) .el-message--info{background-color:#909399 !important;border-color:#909399 !important;}
html.dark:not(.light) .el-message--warning{background-color:#e6a23c !important;border-color:#e6a23c !important;}
html.dark:not(.light) .el-message--error{background-color:#f56c6c !important;border-color:#f56c6c !important;}
html.dark:not(.light) .el-message__icon.el-icon-success,html.dark:not(.light) .el-message__icon.el-icon-info,html.dark:not(.light) .el-message__icon.el-icon-warning,html.dark:not(.light) .el-message__icon.el-icon-error,html.dark:not(.light) .el-message__content{color:#fff !important}

html.dark:not(.light) .el-notification{
  background: #303030 !important;
  border-color: #404040 !important;
}

html.dark:not(.light) .el-notification__title{
  color: #cfcecc;
}

html.dark:not(.light) .el-notification__content{
  color: #9f9d99;
}

html.dark:not(.light) .el-notification__closeBtn:hover{
  color: #9f9d99;
}